h1 {
    text-align: center;
    font-size: 48;
    padding-top: 2%;
    font-weight: 700;
}

form {
    text-align: justify;
}

label {
    font-size: 20;
    font-weight: 400;
}

form {
    flex: 1;
    flex-direction: row;
    border: 2px solid black;
}

select option[disabled] {
    display: none;
}

#genderBar {
    width: 15%;
}

#maleBar {
    background-color: blue;
    width: 50px;
    height: 0px;
    border: 2px solid black;
    position: absolute;
}

#femaleBar {
    background-color: red;
    width: 50px;
    height: 0px;
    border: 2px solid black;
    position: absolute;
}

#lessThanBar {
    background-color: blue;
    width: 50px;
    height: 0px;
    border: 2px solid black;
    position: absolute;
}

#twentyBar {
    background-color: red;
    width: 50px;
    height: 0px;
    border: 2px solid black;
    position: absolute;
}

#fortyBar {
    background-color: purple;
    width: 50px;
    height: 0px;
    border: 2px solid black;
    position: absolute;
}

#greaterThanBar {
    background-color: green;
    width: 50px;
    height: 0px;
    border: 2px solid black;
    position: absolute;
}

#appleBar {
    background-color: red;
    width: 50px;
    height: 0px;
    border: 2px solid black;
    position: absolute;
}

#pearBar {
    background-color: blue;
    width: 50px;
    height: 0px;
    border: 2px solid black;
    position: absolute;
}

#pencilBar {
    background-color: red;
    width: 50px;
    height: 0px;
    border: 2px solid black;
    position: absolute;
}

#hourglassBar {
    background-color: purple;
    width: 50px;
    height: 0px;
    border: 2px solid black;
    position: absolute;
}

#roundBar {
    background-color: green;
    width: 50px;
    height: 0px;
    border: 2px solid black;
    position: absolute;
}

#ovalBar {
    background-color: red;
    width: 50px;
    height: 0px;
    border: 2px solid black;
    position: absolute;
}

#triangleBar {
    background-color: blue;
    width: 50px;
    height: 0px;
    border: 2px solid black;
    position: absolute;
}

#rectangleBar {
    background-color: red;
    width: 50px;
    height: 0px;
    border: 2px solid black;
    position: absolute;
}

#rhomboidBar {
    background-color: purple;
    width: 50px;
    height: 0px;
    border: 2px solid black;
    position: absolute;
}

#iTriangleBar {
    background-color: green;
    width: 50px;
    height: 0px;
    border: 2px solid black;
    position: absolute;
}

.bar {
    display: flex;
    flex-direction: column-reverse;
}

#percentage {
    padding-top: 45px;
    padding-bottom: 45px;
}

#barChart {
    display: flex;
    flex-direction: column;
}

#genderTableTitle {
    width: 15%;
    text-align: center;
}

#ageTableTitle {
    width: 25%;
    text-align: center;
}

#bTypeTableTitle {
    width: 55%;
    text-align: center;
}

#bars {
    display: flex;
    flex-direction: row;
}

#bars>div {
    width: 5%;
}

#barNames {
    display: flex;
    flex-direction: row;
}

#barNames>div {
    width: 5%;
}